.container {
  background-color: silver;
  display: grid;
  grid-template-areas:
    "total total result result"
    "one two three multiply"
    "four five six plus"
    "seven eight nine subtract"
    "equal zero clear divide";
  max-width: 460px;
  height: 400px;
  margin: auto;
  text-align: center;
}
button {
  font-size: 24px;
}

#result {
  grid-area: result;
  margin: auto;
  border: 2px dotted darkmagenta;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#multiply {
  grid-area: multiply;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#plus {
  grid-area: plus;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#subtract {
  grid-area: subtract;
}
#divide {
  grid-area: divide;
}
#equal {
  grid-area: equal;
}
#clear {
  grid-area: clear;
}
#zero {
  grid-area: zero;
}
#total {
  grid-area: total;
  margin: auto;
  border: 2px dotted darkmagenta;
}
